@import 'styles/vars';

header {
  background: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $color-grey-light;
  z-index: 9;
  height: 45px;

  @media #{$screen-sm-min} {
    height: 60px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 400;
    height: 100%;
    max-width: $section-width;
    font-family: $font-family-headings;
    font-size: 4.5vw;
    line-height: 45px;

    @media #{$screen-sm-min} {
      letter-spacing: 3px;
      font-size: $font-size-xs;
      justify-content: flex-start;
    }

    a {
      display: flex;
      align-items: center;
      color: inherit;
      padding: 10px 15px;
      transition: all 0.2s ease;

      @media #{$screen-sm-min} {
        padding: 10px 30px;
      }

      img {
        transition: all 0.2s ease;
      }

      span {
        display: inline-block;
        position: relative;
      }

      &.active,
      &:hover,
      &:focus {
        img {
          transform: translateY(-3px);
        }
        color: $color-secondary;
      }
    }
  }
}
